<template>
  <div id="app">
    <TodosComponent/>
    <HelloWorld/>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue';
import TodosComponent from './components/TodosComponent';

export default {
  name: 'app',
  components: {
    HelloWorld,
    TodosComponent
  }
}
</script>

<style>

</style>
