<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <h4 class="card-header"
              :class="cardClasses"
          >
            Class binding
          </h4>
          <div class="card-body">
            <div class="form-group">
              <select
                  v-model="card.selectedStyling"
                  class="form-control"
              >
                <option
                    v-for="style in card.contextualStyles"
                    :value="style"
                    :key="style"
                >
                  {{ style.type | ucfirst }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <h4 class="card-header">
            Style binding
          </h4>
          <div class="card-body">
            <div class="form-group">
              <div class="input-group">
                <input
                    class="form-control"
                    v-model="progress.width"
                    placeholder="The width of the process bar"
                >
                <span class="input-group-addon">%</span>
              </div>
            </div>
            <div class="form-group">
              <input
                  class="form-control"
                  v-model="progress.backgroundColor"
                  placeholder="The background-color of the process bar">
            </div>
          </div>
          <div class="card-footer">
            <div class="progress">
              <div
                  class="progress-bar"
                  :style="progressStyling"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data() {
    return {
      card: {
        selectedStyling: {
          type: 'light',
          hasWhiteText: false,
        },
        contextualStyles: [
          { type: 'primary', hasWhiteText: true, },
          { type: 'secondary', hasWhiteText: true, },
          { type: 'success', hasWhiteText: true, },
          { type: 'danger', hasWhiteText: true, },
          { type: 'warning', hasWhiteText: true, },
          { type: 'info', hasWhiteText: true, },
          { type: 'light', hasWhiteText: false, },
          { type: 'dark', hasWhiteText: true, },
        ]
      },
      progress: {
        width: 50,
        backgroundColor: '#0af'
      },
    };
  },
  computed: {
    cardClasses() {
      const classes = [];

      if (!this.card.selectedStyling) {
        return classes;
      }

      classes.push(`bg-${this.card.selectedStyling.type}`);

      if (this.card.selectedStyling.hasWhiteText) {
        classes.push('text-white');
      }

      return classes;
    },
    progressStyling() {
      return {
        width: `${this.progress.width}%`,
        backgroundColor: this.progress.backgroundColor,
      };
    }
  },
  filters: {
    ucfirst(value) {
      if (!value) {
        return '';
      }
      return value.charAt(0).toUpperCase() + value.slice(1);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
