<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-6">
        <div class="card">
          <h4 class="card-header bg-dark text-white">
            Using Request &amp; Response Interceptors
          </h4>
          <div class="card-body">
            <form @submit.prevent="getPost(postId)">
              <div class="form-group">
                <div class="input-group">
                  <input
                      placeholder="Enter post id"
                      v-model="postId"
                      class="form-control"
                  >
                  <span class="input-group-btn">
                      <button class="btn btn-primary">
                        Get post!
                      </button>
                    </span>
                </div>
              </div>
            </form>
            <hr />
            <pre>{{ post }}</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data() {
    return {
      post: {
        userId: null,
        id: null,
        title: null,
        body: null,
      },
      postId: null,
    };
  },
  methods: {
    getPost(id) {
      if (!id) {
        return;
      }

      this.$http
        .get(`/posts/${id}`)
        .then(({ data }) => {
          this.post = data;
        });
    },
  },
  mounted() {
    this.getPost(1);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
