<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-6">
        <div class="card">
          <h4 class="card-header bg-dark text-white">
            Passing properties to a Vue component
          </h4>
          <div class="card-body">
            <form>
              <div class="form-group">
                <input
                    v-model="myString"
                    class="form-control"
                    placeholder="Input for the string property"
                >
              </div>
            </form>
            <hr />
            <my-component
                my-boolean
                :my-array="['one', 'two', 'three']"
                :my-string="myString"
                :my-number="3"
                :my-object="{ propertyOne: 'Hello!' }"
            ></my-component>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data() {
    return {
      myString: '',
    };
  },
  components: {
    myComponent: {
      props: {
        myBoolean: {
          type: Boolean,
          required: true,
        },
        myArray: {
          type: Array,
          required: false,
          default: ['defaultOption'],
        },
        myString: {
          type: String,
          required: true,
        },
        myNumber: {
          type: Number,
          required: false,
        },
        myObject: {
          type: Object,
          required: false,
          default() {
            return {
              myProperty: true,
            };
          }
        }
      },
      template: `<pre>{{ $props }}</pre>`
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
