<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-10">
                <div class="card">
                    <h4 class="card-header bg-dark text-white">
                        Using Vuex Plugins in your Applications
                    </h4>
                    <div class="card-body">
                        <form @submit.prevent="addTodo">
                            <div class="form-group">
                                <input
                                    class="form-control"
                                    v-model="todo"
                                    placeholder="The title of the todo"
                                >
                            </div>
                            <div class="form-group">
                                <button class="btn btn-dark">
                                    Add todo
                                </button>
                            </div>
                        </form>

                        <div v-if="unfinishedTodos.length > 0">
                            <hr />
                            <h5>
                                Unfinished:
                            </h5>
                            <div class="list-group">
                                <v-todo
                                    v-for="todo in unfinishedTodos"
                                    :key="todo.id"
                                    @toggle="toggleTodo(todo)"
                                    @remove="removeTodo(todo)"
                                >
                                    {{ todo.title }}
                                </v-todo>
                            </div>
                        </div>
                        <div v-if="finishedTodos.length > 0">
                            <hr />
                            <h5>
                                Finished:
                            </h5>
                            <div class="list-group">
                                <v-todo
                                    v-for="todo in finishedTodos"
                                    :key="todo.id"
                                    @toggle="toggleTodo(todo)"
                                    @remove="removeTodo(todo)"
                                    is-finished
                                >
                                    {{ todo.title }}
                                </v-todo>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';
import VTodo from './Todo';

export default {
  name: 'HelloWorld',
  data() {
    return {
      todo: '',
    };
  },
  computed: {
    ...mapGetters([
      'finishedTodos',
      'unfinishedTodos',
    ])
  },
  methods: {
    ...mapMutations({
      removeTodo: 'REMOVE_TODO',
      toggleTodo: 'TOGGLE_TODO',
    }),
    addTodo() {
      if (!this.todo) {
        return false;
      }
      this.$store.commit('ADD_TODO', this.todo);

      this.todo = '';
    },
  },
  components: {
    VTodo,
  }
}
</script>
