<template>
  <transition
    name="bounce"
    mode="out-in"
  >
    <slot></slot>
  </transition>
</template>
<script>
  export default {
    name: 'bounce-transition',
  };
</script>
<style>
  .bounce-enter-active {
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-name: bounceIn;
  }

  .bounce-leave-active {
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-name: bounceOut;
  }
</style>
