<template>
    <div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-6">
                    <div class="card">
                        <h4 class="card-header bg-dark text-white">
                            Passing data to child
                        </h4>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="myProperty">
                                        Edit the parent text
                                    </label>
                                    <input
                                        id="myProperty"
                                        class="form-control"
                                        v-model="myProperty"
                                        placeholder="Edit the text"
                                    >
                                </div>
                                <div class="form-group">
                                    <label for="$root.myProperty">
                                        Edit the parent text
                                    </label>
                                    <input
                                        id="$root.myProperty"
                                        class="form-control"
                                        v-model="$root.myProperty"
                                        placeholder="Edit the text"
                                    >
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row justify-content-center">
                <div class="col col-6">
                    <child-component></child-component>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    name: "ParentChild",
    data() {
      return {
        myProperty: 'Hello World from the parent!',
      };
    },
    components: {
      childComponent: {
        name: 'child-component',
        template: `
          <div class="card">
            <h5 class="card-header">
              Passing data to parent
            </h5>
            <div class="card-body">
              <form>
                <div class="form-group">
                  <label for="child.$parent.myProperty">
                    Edit the parent text from the child
                  </label>
                  <input
                    id="child.$parent.myProperty"
                    class="form-control"
                    v-model="$parent.myProperty"
                    placeholder="Edit the text"
                  >
                </div>
                <div class="form-group">
                  <label for="child.$root.myProperty">
                    Edit the parent text from the child
                  </label>
                  <input
                    id="child.$root.myProperty"
                    class="form-control"
                    v-model="$root.myProperty"
                    placeholder="Edit the text"
                  >
                </div>
              </form>
            </div>
          </div>
        `
      }
    }
  }
</script>

<style scoped>

</style>