<template>
    <div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-6">
                    <div class="card">
                        <h4 class="card-header bg-dark text-white">
                            Error Handling
                        </h4>
                        <div class="card-body">
                            <form @submit.prevent="getPost(postId)">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input
                                            placeholder="Enter post id"
                                            v-model="postId"
                                            class="form-control"
                                        >
                                        <span class="input-group-btn">
                      <button class="btn btn-primary">
                        Get post!
                      </button>
                    </span>
                                    </div>
                                </div>
                            </form>
                            <hr />
                            <pre>{{ post }}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-bottom" v-if="alerts.length > 0">
            <div class="container-fluid">
                <div class="row justify-content-end">
                    <div class="col col-4">
                        <v-alert
                            v-for="alert in alerts"
                            :contextual-style="alert.type"
                            :key="alert.message"
                            @closed="removeAlert(alert)"
                        >
                            {{ alert.message }}
                        </v-alert>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import VAlert from '@/components/Alert';

  export default {
    name: "ErrorHandling",
    data() {
      return {
        alerts: [],
        post: {
          userId: null,
          id: null,
          title: null,
          body: null,
        },
        postId: null,
      };
    },
    methods: {
      getPost(id) {
        if (!id) {
          return;
        }

        this.$http
          .get(`/posts/${id}`)
          .then(({ data }) => {
            this.post = data;
            this.alerts.push({
              type: 'success',
              message: `Post with an id of ${id} has been found!`
            })
          })
          .catch((error) => {
            if (error.response.status === 404) {
              this.alerts.push({
                type: 'danger',
                message: `Post with an id of ${id} could not been found!`
              });
            }
          });
      },
      removeAlert(alert) {
        this.alerts = this.alerts.filter(item => alert !== item);
      }
    },
    mounted() {
      this.getPost(1);
    },
    components: {
      VAlert,
    }
  }
</script>

<style scoped>

</style>