<template>
  <div class="hello">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-6">
          <div class="card">
            <h4 class="card-header bg-dark text-white">
              Introduction to Axios
            </h4>
            <div class="card-body">
              Learn how to perform a GET-request
            </div>
            <div class="card-footer">
              Nothing to see here... Moving on
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
