<template>
  <div id="app">
    <HelloWorld/>
    <Currencies/>
    <Dates/>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld';
import Currencies from './components/Currencies';
import Dates from './components/Dates';

export default {
  name: 'App',
  components: {
    HelloWorld,
    Currencies,
    Dates
  }
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
