<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4>My Users ({{ users.length }})</h4>
          </div>
          <div class="card-body">
            <form @submit.prevent="add()">
              <div class="form-group">
                <input
                  class="form-control"
                  v-model="newUser.username"
                  placeholder="Enter a username..."
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  type="email"
                  v-model="newUser.email"
                  placeholder="Enter an email..."
                />
              </div>
              <div class="form-group">
                <button class="btn btn-primary">
                  Add user
                </button>
              </div>
            </form>
            <hr/>
            <div class="form-group">
              <button
                class="btn btn-outline-primary"
                @click="sortBy('username')"
              >
                Sort by username
              </button>
              <button
                class="btn btn-outline-primary"
                @click="sortBy('email')"
              >
                Sort by email
              </button>
            </div>
            <ul class="list-group">
              <li
                class="list-group-item"
                v-for="user in sortedUsers"
                :key="user"
              >{{ user.username }}, {{ user.email }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data() {
    return {
      users: [
        {
          username: 'john.doe',
          email: 'john@doe.com'
        },
        {
          username: 'admin',
          email: 'test@admin.com'
        },
        {
          username: 'foo',
          email: 'bar@foo.com'
        }
      ],
      newUser: {
        username: '',
        email: ''
      },
      sortingKey: null
    };
  },
  computed: {
    sortedUsers() {
      if (!this.sortingKey) {
        return this.users;
      }
      return this.users.concat().sort((userA, userB) => {
        if (userA[this.sortingKey] > userB[this.sortingKey]) {
          return 1;
        }
        if (userA[this.sortingKey] < userB[this.sortingKey]) {
          return -1;
        }
        return 0;
      });
    }
  },
  methods: {
    add() {
      if (!this.newUser.username || !this.newUser.email) {
        return;
      }
      this.users.push(this.newUser);

      this.newUser = {
        username: '',
        email: ''
      };
    },
    sortBy(key) {
      this.sortingKey = key;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
