<div class="card">
  <h4
    class="card-header"
    v-if="header"
  >
    {{ header }}
  </h4>
  <div
    class="card-body"
    v-if="body"
  >
    {{ body }}
  </div>
  <div
    class="card-footer"
    v-if="footer"
  >
    {{ footer }}
  </div>
</div>
