<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-6">
                <transition appear name="card">
                    <div class="card">
                        <h4 class="card-header bg-dark text-white">
                            Fancy card header
                        </h4>
                        <div class="card-body">
                            Fancy card body
                        </div>
                    </div>
                </transition>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    name: "Bouncer"
  }
</script>

<style>
    .card-enter-active {
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-name: slideInDown;
    }

    .card-leave-active {
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-name: slideOutDown;
    }
</style>