<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-6">
                <div class="card">
                    <h4 class="card-header bg-dark text-white">
                        A list of items
                    </h4>
                    <div class="card-body">
                        <form @submit.prevent="add(newItem)">
                            <div class="form-group">
                                <input
                                    class="form-control"
                                    placeholder="Add a new item"
                                    v-model.lazy="newItem"
                                >
                            </div>
                        </form>
                        <button
                            @click="shuffle"
                            class="btn btn-primary"
                        >
                            Shuffle!
                        </button>
                        <hr />
                        <transition-group
                            name="list"
                            tag="ul"
                            class="list-group"
                        >
                            <li
                                class="list-group-item"
                                v-for="item in myArray"
                                :key="item"
                            >
                                <div class="d-flex justify-content-between">
                                    <span>{{ item }}</span>
                                    <button
                                        class="btn btn-outline-danger btn-sm"
                                        @click="remove(item)"
                                    >Remove
                                    </button>
                                </div>
                            </li>
                        </transition-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import shuffle from 'lodash/shuffle';

  export default {
    name: "Shuffler",
    data() {
      return {
        myArray: [
          'One',
          'Two',
          'Three',
        ],
        newItem: '',
      };
    },
    methods: {
      add(item) {
        if (!item) {
          return;
        }
        this.myArray.push(item);

        this.newItem = '';
      },
      remove(oldItem) {
        this.myArray = this.myArray.filter(item => item !== oldItem);
      },
      shuffle() {
        this.myArray = shuffle(this.myArray);
      }
    }
  }
</script>

<style scoped>
    .list-enter-active {
        animation-duration: .5s;
        animation-fill-mode: both;
        animation-name: zoomIn;
    }

    .list-leave-active {
        animation-duration: .5s;
        animation-fill-mode: both;
        animation-name: zoomOut;
    }

    .list-move {
        transition: transform .5s;
    }
</style>