<template>
  <div id="app">
    <HelloWorld/>
    <Alerts/>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld';
import Alerts from './components/Alerts';

export default {
  name: 'app',
  components: {
    HelloWorld,
    Alerts
  }
}
</script>

<style>

</style>
