<template>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <div class="card">
          <h4 class="card-header">My Todo List ({{ unfinishedTodoItems.length }})</h4>
          <div class="card-body">
            <form @submit.prevent="add()">
            <input class="form-control"
                   v-model="newTodo"
                   placeholder="Enter a new todo..."/>
            </form>
            <hr />
            <ul class="list-group">
              <li
                class="list-group-item todo"
                v-for="todo in unfinishedTodoItems"
                :key="todo"
                @click="finish(todo)"
                @click.shift="remove(todo)"
              >{{ todo.content }}</li>
            </ul>
            <hr />
            <ul class="list-group">
              <li
                class="list-group-item todo"
                v-for="todo in finishedTodoItems"
                :key="todo"
                @click="unfinish(todo)"
                @click.shift="remove(todo)"
              >{{ todo.content }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data() {
    return {
      newTodo: '',
      todoItems: [
        {
          done: false,
          content: 'Study german'
        },
        {
          done: false,
          content: 'Learn Vue.js'
        },
        {
          done: false,
          content: 'Buy a milk'
        }
      ]
    };
  },
  computed: {
    unfinishedTodoItems() {
      return this.todoItems.filter(item => !item.done);
    },
    finishedTodoItems() {
      return this.todoItems.filter(item => item.done);
    }
  },
  methods: {
    add() {
      if (!this.newTodo) return;
      this.todoItems.push({
        content: this.newTodo,
        done: false
      });
      this.newTodo = null;
    },
    unfinish(todo) {
      todo.done = false;
    },
    finish(todo) {
      todo.done = true;
    },
    remove(todo) {
      this.todoItems = this.todoItems.filter(item => item !== todo);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
